@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap');

.main-container {
    width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
.header {
    background-image: url(../img/header/header_bg.png);
    background-size: cover;
}
.header-menu {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.menu-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hexagon {
    display: flex;
    justify-content: center;
    position: relative;
    width: 67px;
    height: 38px;
    background-color: #18cfab;
    margin: 19px 0;
}
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 34px solid transparent;
    border-right: 33px solid transparent;
}
.hexagon:before {
    bottom: 100%;
    border-bottom: 19px solid #18cfab;
}
.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 19px solid #18cfab;
}
.logo-icon {
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    color: white;
}
.logo-text {
    font-size: 32px;
    margin-left: 5px;
    color: white;
}
.bold-el {
    font-weight: bold;
}
.green-el {
    color: #18cfab;
}
.navbar {
    padding: 50px 0;
    margin-left: 290px;
}
.navbar a:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}
.navbar-link {
    color: #a8a7a6;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-right: 20px;
    padding: 50px 0;
}
.navbar-search {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-slogan {
    font-size: 32px;
    margin-top: 246px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.content-title {
    font-size: 78px;
    margin-top: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.content-subtitle {
    font-size: 33px;
    margin-top: 37px;
    color: #d4d4d4;
}
.content-btn {
    margin-top: 140px;
    margin-bottom: 240px;
}
.btn-exp {
    padding: 22px 37px;
    margin-right: 28px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: #18cfab;
    border-top: 3px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-purch {
    padding: 22px 32px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: #00cbf6;
    border-top: 3px solid white;
    border-radius: 4px;
    cursor: pointer;
}

/*OPTIONS*/
.section-options {
    display: inline-flex;
}
.options-container-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 480px;
    height: 374px;
    background-color: #1c2a33;
    border-top: 4px solid #18cfab;
}
.options-container-light {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 480px;
    height: 374px;
    background-color: #18cfab;
    border-top: 4px solid #ffffff;
}
.container-dark-text {
    font-size: 18px;
    margin-top: 48px;
    text-transform: uppercase;
    color: #18cfab;
}
.container-light-text {
    font-size: 18px;
    margin-top: 59px;
    text-transform: uppercase;
    color: white;
}

/*OUR SERVICES*/
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.general-title {
    font-size: 37px;
    color: #4e4e4e;
    margin-top: 90px;
}
.title-underline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-underline:after {
    content: '';
    border: 1px solid #18cfab;
    width: 80px;
    height: 5px;
    margin-top: 37px;
    border-left: 0px;
    border-right: 0px;
    transform: skew(75deg);
}
.services-navbar {
    display: flex;
    margin-top: 70px;
}
.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.navbar-lable {
    padding: 27px 35px;
    font-size: 17px;
    color: #717171;
    border: 1px solid #f4f7f8;
    background-color: #f8fcfe;
}
.navbar-item.active:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #18cfab;
}
.navbar-item.active .navbar-lable {
    border: 1px solid #18cfab;
    background-color: #18cfab;
    color: white;
}
.services-navbar-content {
    display: flex;
    margin-top: 27px;
}
.services-navbar-content {
    display: none;
}
.services-navbar-content.active {
    display: flex;
}
.services-navbar-text {
    width: 927px;
    font-size: 14px;
    margin-left: 20px;
    line-height: 1.7;
    text-align: justify;
    color: #9b9b9b;
}

/*OFFER*/
.offer {
    height: 476px;
    margin-top: 103px;
    text-align: center;
    background-position: center;
    background-image: url(../img/install_bg.png);
}
.offer-overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.offer-title {
    font-size: 40px;
    padding-top: 128px;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: bold;
}
.offer-subtitle {
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 76px;
    color: #bebdbc;
}

/*OUR AMAZING WORK*/
.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8fcfe;
}
.work-navbar {
    display: flex;
    margin-top: 70px;
}
.work-navbar-item {
    font-size: 14px;
    padding: 22px 24px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    color: #848484;
    cursor: pointer;
}
.work-navbar-item.active {
    color: #18cfab;
    box-shadow: 0px -2px 0px 0px #18cfab;
}
/*зробити рисочку над елементом*/
.work-navbar-item.active:before {
    content: '';
    height: 2px;
    background-color: #18cfab;
}
.work-img {
    display: flex;
    width: 1200px;
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: center;
}
.work-img-wrapper {
    display: flex;
    position: relative;
}
.img-info {
    display: none;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8fcfe;
    border-top: 2px solid #18cfab;
}
.work-img-wrapper:hover .img-info {
    display: inline-block;
}
.icon-link,
.icon-search {
    margin-top: 46px;
    margin-bottom: 32px;
    padding: 12px;
    font-size: 13px;
    color: #18cfab;
    border: 1px solid #18cfab;
    border-radius: 50%;
}
.img-info i:hover {
    background-color: #18cfab;
    color: white;
}
.info-title {
    font-size: 15px;
    margin-bottom: 12px;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: bold;
}
.info-category {
    font-size: 12px;
    color: #a7a8a9;
}
.work-img-hide {
    display: none;
}
.work-btn {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 8px 21px;
    text-transform: uppercase;
    background-color: #18cfab;
    border: 1px solid #18cfab;
    border-radius: 2px;
    margin-top: 71px;
    margin-bottom: 100px;
    cursor: pointer;
}
.work-btn:before {
    content: '+';
    font-size: 22px;
    margin-right: 8px;
}

/*BREAKING NEWS*/
.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-thumbnails-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 80px;
    width: 1200px;
}
.thumbnail-img {
    position: relative;
    background-color: #f8fcfe;
    margin-right: 29px;
    margin-bottom: 45px;
}
.thumbnail-img-el {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 20px;
    display: inline-block;
    background-color: #203e38;
    color: #ffffff;
    text-align: center;
}
.thumbnail-img:hover .thumbnail-img-el {
    background-color: #18cfab;
}
.thumbnail-img-el-text {
    margin-bottom: 7px;
}
.thumbnail-img-text {
    font-size: 18px;
    margin-top: 14px;
    margin-left: 13px;
    font-weight: bold;
    color: #717171;
}
.thumbnail-img:hover .thumbnail-img-text {
    color: #18cfab;
}
.thumbnail-img-text-holder {
    display: flex;
    margin-top: 14px;
    padding-bottom: 12px;
}
.thumbnail-img-text-adm {
    font-size: 14px;
    margin-right: 15px;
    margin-left: 17px;
    color: #777777;
}
.thumbnail-img-text-adm:after {
    content: '|';
    margin-left: 15px;
}
.thumbnail-img-text-comm {
    font-size: 14px;
    color: #777777;
}

/*FEEDBACK*/
.feedback {
    background-image: url(../img/section_feedback/feedback_bg.png);
    height: 851px;
}
.feedback-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.feedback-title {
    padding-top: 90px;
    font-size: 36px;
    color: #ffffff;
}
.feedback-quote {
    margin-top: 70px;
    margin-bottom: 40px;
}
.feedback-subtitle {
    width: 1097px;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    color: #bbbbbb;
}
.gallery-main-icon {
    text-align: center;
    margin-top: 43px;
    margin-bottom: 60px;
}
.icon-name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.icon-job {
    color: #bbbbbb;
    font-size: 12px;
    margin-bottom: 30px;
}
.icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #18cfab;
    box-shadow: 0px 0px 0px 10px rgba(17, 76, 75, 0.7);
}
.gallery-thumbnails {
    display: flex;
    align-items: center;
}
.gallery-arrow {
    font-size: 13px;
    font-weight: bold;
    padding: 9px 10px;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    margin-right: 30px;
    cursor: pointer;
}
.gallery-arrow:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: white;
}
.gallery-thumb {
    border-radius: 50%;
    border: 1px solid rgba(17, 76, 75, 0.7);
    box-shadow: 0px 0px 0px 3px rgba(17, 76, 75, 0.7);
    margin-right: 30px;
    cursor: pointer;
}
.gallery-thumb:hover {
    border: 1px solid #18cfab;
    transform: translateY(-15px);
}
.last-img {
    margin-right: 0;
}

/*FOOTER*/
.footer-text {
    padding: 47px 0;
    text-align: center;
    color: #aeaeae;
    background-color: #22353f;
}
.cursor {
    cursor: pointer;
}

