.wrapper {
    margin: 0 auto;
    width: 900px;
}
.tabs-link {
    display: flex;
}
.tabs-link-item {
    background-color: silver;
    cursor: pointer;
    flex: 1;
    padding: 20px;
}
.tabs-link-item.active {
    background-color: grey;
}
.tab {
    padding: 20px;
    display: none;
    background-color: lightblue;
}
.tab.active {
    display: inline-block;
}