@font-face {
    font-family: 'Verdana Regular';
    src: url(../fonts/Verdana.eot);
    src: url(../fonts/Verdana.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Verdana.woff) format('woff'),
    url(../fonts/Verdana.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.background {
    font-family: 'Verdana Regular', sans-seraf;
    width: 1366px;
    margin: 0 auto;
    background-size: cover;
    background-image: url(../img/background@1X.png);
}
.background-overlay {
    padding: 50px 150px 20px 150px;
    background-image: url(../img/background-overlay@1X.png);
}
.header {
    margin-bottom: 50px;
}
.header-contacts {
    font-size: 18px;
    float: right;
}
.header-contacts-link {
    color: white;
}
.header-contacts-email {
    font-size: 18px;
    margin-bottom: 9px;
}
.header-contacts-numb {
    font-size: 14px;
    text-align: right;
}
.header-logo {
    display: inline-block;
}
.header-logo:hover .header-logo-icon {
    background-image: url(../img/header-logo-orange@1X.png);
}
.header-logo:hover .header-logo-text {
    color: #f26522;
}
.header-logo-icon {
    background-image: url(../img/header-logo@1X.png);
    width: 46px;
    height: 44px;
    float: left;
}
.header-logo-text {
    margin-left: 61px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.header-text-top {
    margin-bottom: 9px;
    font-size: 22px;
}
.header-text-bottom {
    font-size: 13px;
}
.thumbnail {
    margin-right: 65px;
    margin-bottom: 58px;
    float: left;
}
.thumbnail:nth-child(3n) {
    margin-right: 0;
}
.thumbnail-img-holder {
    position: relative;
    border: 2px solid transparent;
    border-image: linear-gradient(to top, #000, #fff) 1;
}
.thumbnail:hover .thumbnail-info  {
    height: 63px;
}
.thumbnail:hover .thumbnail-desc {
    color: #f26522;
}
.thumbnail-img {
    display: block;
}
.thumbnail-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: height .3s;
    background-color: #f26522;
    overflow: hidden;
}
.info-left {
    margin-left: 21px;
    float: left;
}
.price-top {
    margin-top: 16px;
    font-size: 8px;
    color: white;
}
.price-bottom {
    margin-top: 7px;
    font-size: 15px;
    color: white;
}
.info-right {
    text-align: right;
    margin-right: 18px;
}
.details::after {
    content: '>';
    font-size: 10px;
    font-weight: bold;
    margin-left: 15px;
}
.details {
    margin-top: 35px;
    font-size: 11px;
    color: white;
}
.thumbnail-desc {
    margin-top: 22px;
    font-size: 18px;
    text-align: center;
    color: white;
}
.copy {
    font-size: 12px;
    text-align: center;
    color: white;
    clear: both;
}