.standard-bg {
    background-color: #2b54a5;
}
.ultimate-bg {
    background-color: #f26522;
}
.premium-bg {
    background-color: #F1C40F;
}


.standard-button {
    background-color: #2b54a5;
    border: 2px solid #2b54a5;
    box-shadow: 0 6px #2b54a5;
}
.ultimate-button {
    background-color: #f26522;
    border: 2px solid #f26522;
    box-shadow: 0 6px #f26522;
}
.premium-button {
    background-color: #F1C40F;
    border: 2px solid #F1C40F;
    box-shadow: 0 6px #F1C40F;
}