@font-face {
    font-family: 'Verdana Regular';
    src: url(../fonts/Verdana.eot);
    src: url(../fonts/Verdana.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Verdana.woff) format('woff'),
    url(../fonts/Verdana.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
.main-container {
    height: 100vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Verdana Regular', sans-seraf;
}
.container-navbar {
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-logo {
    display: inline-block;
    padding: 22px 0;
    margin-left: 81px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.navbar-logo:hover {
    color: #3cb878;
}
.navbar-valid-wrapper {
    padding: 22px 0;
    margin-right: 75px;
    display: inline-block;
    float: right;
}
.navbar-valid {
    display: inline;
    font-size: 14px;
    color: white;
}
.green-text {
    color: #3cb878;
}
.green-text:hover {
    text-decoration: underline;
}
.header-items-wrapper {
    padding: 22px 0;
    margin-right: 50px;
    display: inline-block;
    float: right;
}
.header-items {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 28px;
    background-image: url(../img/sprites-icons.png);
}
.calendar {
    background-position: -106px -10px;
}
.forum {
    background-position: -12px -10px;
}
.journey {
    background-position: -10px -50px;
}
.calendar:hover {
    background-position: -106px -49px;
}
.forum:hover {
    background-position: -60px -10px;
}
.journey:hover {
    background-position: -50px -50px;
}
.form-wrapper {
    height: 584px;
}
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 40px;
}
.form:after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 29px;
    background-color: #3cb878;
}
.form-inner {
    position: absolute;
    width: 325px;
    top: 29px;
    right: 60px;
}
.inner-valid {
    background-image: url(../img/sprites-form.png);
    margin-bottom: 15px;
}
.valid-sign {
    font-size: 18px;
    color: #434343;
}
.valid-log {
    font-size: 13px;
    margin-left: 205px;
}
.btn-wrapper {
    margin-bottom: 30px;
}
.btn-facebook {
    display: inline-block;
    width: 157px;
    height: 46px;
    padding: 9px 17px 9px 20px;
    background-color: #305db8;
    color: #ffffff;
    border-radius: 2px;
}
.btn-facebook:hover {
    background-color: #264b96;
}
.btn-text {
    display: block;
    margin-top: 15px;
}
.btn-google {
    display: inline-block;
    float: right;
    width: 157px;
    height: 46px;
    padding: 9px 30px 9px 13px;
    background-color: #df4a32;
    color: #ffffff;
    border-radius: 2px;
}
.btn-google:hover {
    background-color: #c3412c;
}
.facebook-icon {
    width: 10px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    background-image: url(../img/facebook-icon.png);
}
.icon-pipe-facebook {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 28px;
    margin: 0 10px;
    background-color: #2b54a5;
}
.icon-text {
    font-size: 14px;
    vertical-align: middle;
}
.google-icon {
    width: 25px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    content: url(../img/google-icon.png);
}
.icon-pipe-google {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 28px;
    margin: 0 10px;
    background-color: #c8422d;
}
.line-left {
    height: 1px;
    width: 135px;
    float: left;
    border: none;
    background: #eaeaea;
}
.line-text {
    color: #c6c6c6;
    margin-left: 18px;
}
.line-right {
    height: 1px;
    width: 135px;
    float: right;
    border: none;
    background: #eaeaea;
}
.fields-wrapper {
    margin: 21px 0 12px 0;
}
.input-field {
    width: 100%;
    height: 46px;
    padding: 17px;
    margin-bottom: 9px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-family: 'Verdana Regular', sans-seraf;
}
.input-field:focus {
    outline: none;
    box-shadow: 0 3px 7px 1px #dbdbdb;
}
.first-name {
    margin-bottom: 17px;
}
::placeholder {
    color: #bebebe;
}
.terms {
    user-select: none;
}
.terms-checkbox {
    display: none;
}
.terms-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../img/checkbox_uncheck.png);
}
.terms-checkbox:checked + .terms-icon {
    background-image: url(../img/checkbox_check.png);
}
.terms-label {
    font-size: 14px;
    vertical-align: middle;
    margin-left: 5px;
}
.btn-submit {
    font-size: 14px;
    width: 100%;
    height: 46px;
    margin-top: 20px;
    background-color: #3cb878;
    color: white;
    font-family: 'Verdana Regular', sans-seraf;
    border: 1px solid #3cb878;
    border-radius: 2px;
    cursor: pointer;
}
.btn-submit:hover {
    background-color: #329a65;
}