.main-container {
    display: flex;
    width: 1192px;
    height: 736px;
    margin: 0 auto;
    background-color: #3a4965;
}
.table {
    display: flex;
    align-items: center;
    font-family: 'Arimo', sans-serif;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: #484848;

}
.green-bg {
    padding: 20px 72px;
    font-size: 24px;
    color: #ffffff;
    background-color: #89c331;
}
.red-bg {
    padding: 20px 72px;
    font-size: 30px;
    color: #ffffff;
    background-color: #f04a56;
}
.elm-bg {
    padding: 20px 72px;
    font-size: 24px;
    color: #ffffff;
    background-color: #20807c;
}
.white-bg {
    padding: 20px 0;
    background-color: #fafafa;
    border-left: 1px solid #dadada;
}
.price-number {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
}
.price-fractional {
    display: inline-block;
}
.price-cent {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}
.price-period {
    font-size: 18px;
}
.c1-r1-top {
    width: 310px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
}
.c1-r1-bottom {
    font-size: 30px;
    font-weight: bold;
}
.silver-bg {
    padding: 22px 0;
    background-color: #f2f2f2;
    border-left: 1px solid #dadada;
}
.grey-bg {
    padding: 22px 0;
    background-color: #e3e3e3;
    border-left: 1px solid #dadada;
}
.services-icon {
    font-size: 24px;
    margin-right: 12px;
    color: #848484;
}
.c1-r9 {
    background-color: #dddddd;
}
.black-button {
    font-size: 16px;
    padding: 12px 44px;
    background-color: #484848;
    color: white;
    border: 2px solid #484848;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 6px #404040;
}
.green-button {
    font-size: 16px;
    padding: 12px 57px;
    background-color: #89c331;
    color: white;
    border: 2px solid #89c331;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 6px #79b027;
}
.red-button {
    font-size: 16px;
    padding: 12px 57px;
    background-color: #f04a56;
    color: white;
    border: 2px solid #f04a56;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 6px #df3a46;
}
.elm-button {
    font-size: 16px;
    padding: 12px 57px;
    background-color: #20807c;
    color: white;
    border: 2px solid #20807c;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 6px #16736f;
}
.black-button:hover,
.green-button:hover,
.red-button:hover,
.elm-button:hover {
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    transform : translateY(-3px);
    cursor: pointer;
}
