.main-wrapper {
    width: 1480px;
    font-family: sans-serif;
}
.main-wrapper-container {
    width: 1280px;
    margin: 61px 100px 0;
}

.navbar-logo-link {
    font-size: 74px;
    text-decoration: none;
    color: black;
}
.blue-text {
    color: #4bcaff;
}
.navbar-menu {
    margin: 45px 0;
    padding: 20px 200px;
    font-size: 20px;
    border: 1px solid #35444f;
    text-align: center;
    background-color: #35444f;
}
.navbar-menu-link {
    color: white;
    text-decoration: none;
    padding: 19px 33px;
}
.navbar-menu a:hover {
    padding: 19px 41px;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
    background-color: #222f3a;
}
.sidebar-left {
    display: inline-block;
    width: 315px;
    border: 1px solid #35444f;
}
.sidebar-left-link {
    display: block;
    font-size: 19px;
    color: #495863;
}
.sidebar-left a:hover {
    padding-left: 20px;
    background-color: #dbdbdb;
    color: #000000;
}
.sidebar-left-text {
    padding: 28px 45px;
}
.sidebar-right {
    float: right;
    width: 910px;
    height: 529px;
    border: 1px solid #35444f;
}
.sidebar-right-img {
    display: block;
    margin: 0 auto;
    padding-top: 75px;
    transition: transform 0.5s;
}
.sidebar-right-img:hover {
    transform: scale(1.2);

}
.sidebar-right-text {
    display: inline-block;
    font-size: 16px;
    width: 815px;
    margin-top: 30px;
    margin-left: 420px;
    color: #484848;
    text-align: justify;
}
.footer-navbar {
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #b4b7ba;
}
.footer-navbar-left {
    display: inline-block;
    margin: 21px 44px;
}
.footer-navbar-link {
    font-size: 23px;
    padding-right: 7px;
    color: #0c1927;
}
.footer-navbar-left a:hover {
    color: #3181a6;
    text-decoration: underline;
}
.footer-navbar-right {
    display: block;
    float: right;
    margin: 21px 34px;
}
.footer-navbar-right-text {
    font-size: 20px;
    color: #0c1927;
}