@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

#background-scroll {
    position: absolute;
    width: 60%;
    height: 100%;
    margin: 0 20% 0 20%;
    font-size: 250%;
    text-align: center;
    color: #F1C40F;
    transform: perspective(200px) rotateX(30deg);
}
#background-scroll div {
    position: absolute;
    top: 100%;
    animation: background-scroll 30s linear infinite;
}
#background-scroll p {
    margin: 1.35em 0 .5em 0;
    line-height: 1.35em;
}
@keyframes background-scroll {
    0% {
        top: 100%;
        opacity: 0;
    }
    7% {
        top: 100%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: -250%;
        opacity: 0;
    }
}
body {
    background-image: url(../img/background.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing: .2em;
}
