.main-container {
    background-image: url("../img/Sfondo@1X.png");
}
.nav {
    text-align: center;
    padding: 15px 0;

}
.nav-item {
    font-size: 14px;
    font-family: sans-serif;
    margin: 0 30px;
    color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
}
.header-image-container {
    position: relative;
}
.header-image {
    display: block;
    width: 100%;
}
.header-image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/top-img-overlay@1X.png");
}
.section-content {
    background-image: url("../img/footer-fon@1X.png");
    text-align: center;
}
.section-content-title {
    font-family: sans-serif;
    display: inline-block;
    text-transform: uppercase;
    font-size: 17px;
    margin: 20px 0;
}
.section-content-container {
    padding: 0 50px;
}
.section-content-text {
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px 0;

}
.text-accent {
    margin-left: 20px;
}
.section-content-button {
    font-size: 10px;
    padding: 10px 20px;
    background-color: #16a085;
    color: #ffffff;
    border-radius: 3px;
    margin: 10px 20px 40px;
    text-transform: uppercase;
    cursor: pointer;
}
.footer-content {
    font-family: sans-serif;
    font-size: 12px;
    text-align: right;
    padding: 20px 50px 20px 0;

}
* {
    margin: 0;
    padding: 0;
}
