
.main-container {
    width: 1900px;
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    display: flex;
    background-color: #1d2124;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar-logo-icon-container {
    display: flex;
    height: 74px;
    width: 74px;
    align-items: center;
    background-color: #1a1d20;
}
.navbar-logo-icon {
    height: 27px;
    width: 27px;
    margin-left: 20px;
}
.link {
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 37px;
    cursor: pointer;
}
.navbar-logo-text {
    font-size: 22px;
    padding: 26px 0;
    margin-left: 27px;
    text-transform: uppercase;
    color: #ffffff;
}
.navbar-link {
    display: flex;
}
.navbar-search {
    display: flex;
    height: 74px;
    width: 74px;
    align-items: center;
    justify-content: center;
    background-color: #1a1d20;
}
.background {
    background-image: url(../img/header-bg.png);
    height: 400px;
}
.background-overlay {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.background-title {
    font-size: 27px;
    color: white;
}
.background-btn {
    margin-top: 44px;
}
.background-btn-sbsc {
    width: 170px;
    height: 55px;
    font-size: 18px;
    background-color: #89ca62;
    color: #ffffff;
    border: 2px solid #89ca62;
    border-radius: 5px;
    cursor: pointer;
}
.background-btn-best-art {
    width: 170px;
    height: 55px;
    font-size: 18px;
    background-color: #14b9d5;
    color: #ffffff;
    border: 2px solid #14b9d5;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}
.thumbnail {
    height: 1030px;
    padding-top: 45px;
    justify-content: center;
    background-color: #f2f2f2;
}
.thumbnail-title {
    font-size: 27px;
    margin-bottom: 50px;
    color: #18b4cf;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.thumbnails-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 860px;
    margin: 0 370px;
}
.thumbnail-img {
    width: 370px;
    margin-bottom: 30px;
    background-color: #ffffff;
}
.thumbnail-subtitle {
    margin: 20px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.clients-background {
    height: 590px;
    background-image: url(../img/clients-bg.jpeg);
    background-attachment: fixed;
}
.clients-title {
    padding-top: 200px;
    margin-bottom: 55px;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.blue-line {
    width: 60px;
    margin-bottom: 60px;
    border: 2px solid #169cb4;
}
.clients-img-holder {
    display: grid;
    grid-template-columns: 207px 135px 172px 141px;
    grid-column-gap: 75px;
    align-items: center;
    justify-content: center;
}
.rated-img-holder {
    display: grid;
    grid-template-columns: repeat(7, 271px);
}
.blue-title {
    margin: 50px 0;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #18b4cf;
}
.news {
    margin-bottom: 70px;
}
.news-item-holder {
    display: grid;
    width: 1168px;
    margin: 0 auto;
    grid-gap: 30px;
    grid-template-areas:
            "one one one two"
            "three three four four"
            "five five six six"
            "seven eight eight eight";
}
.one {
    grid-area: one;
}

.two {
    grid-area: two;
    justify-self: end;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
    justify-self: end;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
    justify-self: end;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.news-item {
    background-color: #f9f7f7;
}
.news-item-big {
    display: grid;
    width: 860px;
    grid-template-columns: 483px 374px;
}
.news-item-content {
    text-align: end;
    margin-right: 24px;
    margin-left: 30px;
}
.news-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}
.news-item-subtitle {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
}
.news-item-small {
    display: grid;
    width: 277px;
}
.news-item-small .news-item-title {
    margin: 15px 0;
    text-align: center;
}
.news-item-half {
    width: 554px;
    display: grid;
    grid-template-rows: 259px 159px;
}
.news-item-half .news-item-title {
    margin-top: 20px;
}
.news-item-title .news-item-content {
    text-align: end;
    margin-right: 27px;
    margin-left: 22px;
}
.footer {
    padding: 30px 0;
    background-color: #1d2124;
    color: #ffffff;

}
.footer-holder {
    display: grid;
    width: 1185px;
    grid-template-columns: 1fr auto;
    align-self: center;
    margin: 0 auto;
}
.footer-copy {
    width: 504px;
    font-size: 13px;
    align-self: center;
}
.footer-logo {
    display: grid;
    grid-template-columns: 38px 1fr;
    align-self: center;
}
.footer-logo-text {
    font-size: 17px;
}
.btn-top {
    display: none;
    position: fixed;
    padding: 20px 25px;
    right: 60px;
    bottom: 60px;
    font-size: 20px;
    text-align: center;
    color: white;
    border: 1px solid silver;
    opacity: 0.7;
    border-radius: 50%;
    background-color: silver;
    cursor: pointer;
}
.active {
    display: block;
}